:root {
  --font-family: "Nunito Sans", "-apple-system", "BlinkMacSystemFont",
    "sans-serif";
  --transition-time: 250ms;
  --transition-func: cubic-bezier(0.4, 0, 0.23, 1);
  --gap-xxs: 0.125rem;
  --gap-xs: 0.25rem;
  --radius-xs: 0.25rem;
  --radius-s: 0.375rem;
  --base-shadow-blur: 0.5rem;
  --gap-s: 0.5rem;
  --radius-sm: 0.5rem;
  --gap-sm: 0.75rem;
  --radius-m: 0.75rem;
  --gap-m: 1rem;
  --radius-l: 1rem;
  --gap-l: 1.25rem;
  --radius-xl: 1.25rem;
  --gap-xl: 1.5rem;
  --radius-xxl: 1.5rem;
  --gap-xxl: 2rem;
  --switch-width-m: 2.25rem;
  --switch-height-m: 1.25rem;
  --switch-width-l: 2.5rem;
  --switch-height-l: 1.5rem;

  --base-shadow-blur: 0.5rem;
  --container-paddings-mobile: 1rem;
  --container-paddings-tablet: 1.25rem;
  --container-paddings-desktop: 1.5rem;
  --spacing-2xs: 0.125rem;
  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-m: 0.75rem;
  --spacing-l: 1rem;
  --spacing-xl: 1.25rem;
  --spacing-2xl: 1.5rem;
  --spacing-3xl: 2rem;
  --spacing-4xl: 2.5rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 3.25rem;
  --border-radius-2xs: 0.375rem;
  --border-radius-xs: 0.5rem;
  --border-radius-s: 0.75rem;
  --border-radius-m: 1rem;
  --border-radius-l: 1.25rem;
  --border-radius-xl: 1.5rem;
  --border-radius-2xl: 2rem;
  --border-radius-full: 62.4375rem;
  --breakpoints-mobile-s: 20rem;
  --breakpoints-mobile-m: 22.5rem;
  --breakpoints-tablet: 48rem;
  --breakpoints-laptop: 64rem;
  --breakpoints-desktop-sb: 66.25rem;
  --breakpoints-container-sb: 73.25rem;
  --breakpoints-desktop-s: 80rem;
  --breakpoints-container: 87rem;
  --breakpoints-desktop-m: 90rem;
  --circle-xxs: 1rem;
  --circle-xs: 1.25rem;
  --circle-s: 1.5rem;
  --circle-m: 1.75rem;
  --circle-l: 2rem;
  --circle-xl: 2.25rem;
  --circle-xxl: 2.5rem;
  --circle-xxxl: 3rem;
  --circle-large: 3.25rem;
}
