:root {
  /* Light */
  /* color */
  --base-background: #f1f3f6;
  --base-brand: #0055ff;
  --base-brand-active: #0f54bd;
  --base-brand-hover: #0b5dd9;
  --base-brand-light: #0055ff33;
  --base-brand-medium: #0055ff4d;
  --base-danger: #ff5c5c;
  --base-danger-active: #e95f5f;
  --base-danger-hover: #e56b6b;
  --base-danger-light: #ff5c5c33;
  --base-danger-medium: #ff5c5c4d;
  --base-dropdown: #ffffff;
  --base-focus: #aba6ed;
  --base-hover: #e5f0ff;
  --base-info: #0a7aff;
  --base-info-light: #0a7aff33;
  --base-info-medium: #0a7aff4d;
  --base-layer: #ffffff;
  --base-layer-border: #dee3ed;
  --base-layer-accent: #f2f4f8;
  --base-layer-hover: #f4f4f6;
  --base-positive: var(--success-500);
  --base-positive-active: var(--success-300);
  --base-positive-light: #0dc26833;
  --base-positive-medium: #0dc2684d;
  --base-postitive-hover: var(--success-400);
  --base-shadow: #1f1f231a;
  --base-temp-stroke: #00103d1f;
  --base-tooltip: var(--base-white);
  --base-warn: #f0a72f;
  --base-warn-active: #e9a451;
  --base-warn-hover: #ebb069;
  --base-warn-light: #f0a72f33;
  --base-warn-medium: #f0a72f4d;
  --base-black: #000000;
  --base-dark-1: #0f0f10;
  --base-dark-2: #202022;
  --base-dark-3: #202022;
  --base-dark-4: #252528;
  --base-dark-5: #2e2e31;
  --base-dark-6: #36363a;
  --base-light-1: #f8f8f9;
  --base-light-2: #f4f4f6;
  --base-light-3: #eeeef1;
  --base-light-4: #e3e3e8;
  --base-light-5: #d8d8de;
  --base-light-6: #cacad2;
  --base-white: #ffffff;
  --blue-100: #152737;
  --blue-200: #1d4163;
  --blue-300: #1f5b93;
  --blue-400: #1d76c9;
  --blue-50: #080d11;
  --blue-500: #2c91ee;
  --blue-600: #5ea9ed;
  --blue-700: #91c1ed;
  --blue-800: #bedaf4;
  --blue-900: #ddebf9;
  --blue-950: #d3e0ee;
  --button-brand: var(--base-brand);
  --button-brand-active: var(--base-brand-active);
  --button-brand-hover: var(--base-brand-hover);
  --button-brand-light: var(--base-brand-light);
  --button-brand-medium: var(--base-brand-medium);
  --button-brand-text: var(--text-primary-on-brand);
  --button-ghost: #e6eaef;
  --button-ghost-active: #c4cad4;
  --button-ghost-hover: #dbdfe6;
  --button-positive-active: var(--base-positive-active);
  --button-positive-hover: var(--base-postitive-hover);
  --button-danger: var(--base-danger);
  --button-danger-active: var(--base-danger-active);
  --button-danger-hover: var(--base-danger-hover);
  --button-danger-light: var(--base-danger-light);
  --button-danger-medium: var(--base-danger-medium);
  --button-disabled: var(--gray-800);
  --button-positive: var(--base-positive);
  --button-positive-light: var(--base-positive-light);
  --button-positive-medium: var(--base-positive-medium);
  --button-warn: var(--base-warn);
  --button-warn-active: var(--base-warn-active);
  --button-warn-hover: var(--warn-400);
  --button-warn-light: var(--base-warn-light);
  --button-warn-medium: var(--base-warn-medium);
  --checkbox-active: var(--blue-500);
  --checkbox-active-hover: var(--blue-400);
  --checkbox-default: var(--gray-500);
  --checkbox-disabled: var(--gray-800);
  --checkbox-hover: var(--gray-400);
  --danger-100: #57282e;
  --danger-200: #7b3740;
  --danger-300: #a14551;
  --danger-400: #ce5565;
  --danger-50: #231013;
  --danger-500: #ed576b;
  --danger-600: #f17989;
  --danger-700: #f499a6;
  --danger-800: #f8bac3;
  --danger-900: #fde8eb;
  --danger-950: #fef6f7;
  --gray-100: #32313a;
  --gray-200: #4e4d5b;
  --gray-300: #6b697d;
  --gray-400: #8a889b;
  --gray-50: #151519;
  --gray-500: #aaa8b6;
  --gray-600: #bebcc7;
  --gray-700: #d1d0d8;
  --gray-800: #e1e1e5;
  --gray-900: #f2f1f3;
  --gray-950: #fcfcfd;
  --icons-brand: var(--base-brand);
  --icons-danger: var(--base-danger);
  --icons-dark-ghost: var(--text-dark-ghost);
  --icons-dark-primary: var(--text-dark-primary);
  --icons-dark-secondary: var(--text-light-secondary);
  --icons-disabled: var(--text-disabled);
  --icons-ghost: var(--text-ghost);
  --icons-info: var(--base-info);
  --icons-light-ghost: var(--text-light-ghost);
  --icons-light-primary: var(--text-light-primary);
  --icons-light-secondary: var(--text-light-secondary);
  --icons-positive: var(--base-positive);
  --icons-primary: var(--text-primary);
  --icons-secondary: var(--text-secondary);
  --icons-warn: var(--base-warn);
  --input-border: var(--gray-700);
  --input-border-brand: var(--base-brand);
  --input-disabled: var(--base-light-2);
  --input-disabled-layer: var(--base-light-1);
  --input-fill: var(--base-layer);
  --input-fill-layer: var(--base-light-3);
  --lime-100: #20290a;
  --lime-200: #41570f;
  --lime-300: #638811;
  --lime-400: #87bd0f;
  --lime-50: #101406;
  --lime-500: #b0ff00;
  --lime-600: #baf042;
  --lime-700: #c9ee77;
  --lime-800: #daf0a8;
  --lime-900: #ecf7d4;
  --lime-950: #f5f9ec;
  --primary-100: #282556;
  --primary-200: #312b7d;
  --primary-300: #372fa7;
  --primary-400: #3b30d5;
  --primary-50: #1b1a33;
  --primary-500: #554ae2;
  --primary-600: #776ef2;
  --primary-700: #aba6ed;
  --primary-800: #d5d3f3;
  --primary-900: #edecf9;
  --primary-950: #f8f8fc;
  --status-accepted: var(--warn-500);
  --status-error: var(--danger-500);
  --status-success: var(--success-500);
  --success-100: #054f31;
  --success-200: #05603a;
  --success-300: #027a48;
  --success-400: #039855;
  --success-50: #053321;
  --success-500: #12b76a;
  --success-600: #32d583;
  --success-700: #6ce9a6;
  --success-800: #a6f4c5;
  --success-900: #d1fadf;
  --success-950: #ecfdf3;
  --switch-disabled: #1f1f1f;
  --switch-ellipse: #eeeef1;
  --switch-ellipse-disabled: #707071;
  --switch-off: #3c3c3c;
  --switch-on: #0dc268;
  --tab-active: var(--base-white);
  --tab-active-danger: var(--danger-400);
  --tab-counter: var(--gray-800);
  --tab-counter-active: var(--gray-900);
  --tab-fill: #f0f0f0;
  --text-brand: var(--base-brand);
  --text-danger: var(--base-danger);
  --text-dark-ghost: #7b7a81;
  --text-dark-primary: #222026;
  --text-dark-secondary: #585760;
  --text-disabled: #d2d2d5;
  --text-ghost: #abb2ba;
  --text-info: var(--base-info);
  --text-light-ghost: #6e6e7a;
  --text-light-primary: #ebebed;
  --text-light-secondary: #a6a8ae;
  --text-positive: var(--base-positive);
  --text-primary: #171d23;
  --text-primary-on-brand: #fcfcfd;
  --text-secondary: #536373;
  --text-warn: var(--base-warn);
  --warn-100: #2a1b0a;
  --warn-200: #533513;
  --warn-300: #7d501c;
  --warn-400: #a36b29;
  --warn-50: #1c1208;
  --warn-500: #cc8735;
  --warn-600: #d69e5c;
  --warn-700: #e0b685;
  --warn-800: #e9ceaf;
  --warn-900: #f2e6d9;
  --warn-950: #f7f2ee;
  --extra-pc: #659204;
}
