.updateTokenForm{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}

.updateTokenForm_inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-m);
}